html {
  background-color: #3A4660;
  color: #3A4660;
}
.results {
float: right;
}
.manhattan {
  background-color: #F3F6FF;
}
.card-head {
  background-color: #3A4660;
  color: #C9AF98;
}
.info {
  float: right;
  background-color: #3A4660;;
  color: #C9AF98;
}
.brooklyn {
  background-color: #DAFEB7;

}
.venue a {
  margin-top: 20px;
  font-size: 18px;
}

.returns {
  background-color: #F0CB9F;
  margin-bottom: 10px;
}

.img-thumbnail {
  float: left;
  margin-top:10px;
  margin-bottom:10px;
}
